body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.header-title {
    font-size: 36px;
    margin-top: 20px;
}

.center-right>h1 {
    margin-top: 20px;
}

.linebreak {
    border: 1px solid #fff;
    margin: 20px 0;
}

.header-description {
    text-align: left;
    margin-top: 20px;
}

.topnav {
    background-color: #444;
    overflow: hidden;
    flex-grow: 1;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #555;
    color: #ff6600;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.common-solutions-title {
    font-size: 24px;
    margin-top: 20px;
}

.common-solutions-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

.common-solutions-list p {
    margin: 10px 0;
}

/* Add CSS to style the video section */
.video-section {
    text-align: center;
    margin: 40px 0;
}

.video-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-content {
    border: 5px solid #ff6600;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
}

.form-container {
    margin-bottom: 20px;
}

.form-group {
    display: block;
    margin-bottom: 10px;
}

.lastname {
    margin-right: 1px;
}

.email {
    margin-left: 39px;
    position: static;
}

#description {
    width: 30%;
    height: 10vh;
    margin-top: 15px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
}
